@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
.estrofe{
    border: 1px solid black;
}
#estrofedois{
    background: black url(../imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 0  black;
}
#estrofecinco{
    background: black url(../imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 0  black;
}
#estrofedois > p,#estrofecinco > p{
    background-color: rgba(0, 0, 0, 0.562);
    max-width: 350px;
    padding: 5px;
}
main section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 2em;
}
main section p{
    font-family: "Sriracha",cursive;

}