*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color:paleturquoise;
    height: 150px;
    width: 100%;
}
section{
    background-color:paleturquoise;
    height: 800px;
    width: 100%;
}
h1{
    color: #fff;
    text-align: center;

}
.imagens{
    top: -40%;
    transform: translateY(40%);
}
.shrek{
    width: 600px;
    height: 400px;
    left: -10%;
    transform: translateX(10%);
}
.jesos{
    width: 600px;
    height: 400px;
    left: -10%;
    transform: translateX(10%);
}
.pou{
    width: 600px;
    height: 400px;
    left: -10%;
    transform: translateX(10%);
}
.barra{
    position: absolute;
    bottom: 10%;
    transform: translateY(-10%);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #fff;
}
input{
    display:none
}